<article class="animated fadeIn about">
	<h1>
		<span>
			About CourierChat
		</span>
	</h1>
	<h2>
		<span>
			Who Are We?
		</span>
	</h2>
	<div class="avatar-container">
		<img class="avatar large shadowed" src="/images/xcjs.png" alt="Zackary Lowery">
		<img class="avatar large shadowed" src="/images/kylemoses.jpg" alt="Kyle Moses">
	</div>
	<p>
		We are Zackary Lowery and Kyle Moses, a pair of web developers from
		central Ohio who wanted to do something cool and maybe a little 
		counter-culture.
	</p>
	<h2>
		<span>
			Our Inspiration
		</span>
	</h2>
	<p>
		The goal was to create a chat service that cured us of the nostalgia
		of signing into a chat service in the earlier days of the web.
	</p>
	<p>
		Many times these services only required a unique alias at the time
		it was being claimed. Naturally, this could result in a certain "wild
		west" atmosphere.
	</p>
	<p>
		In embracing this semi-anonymous approach, we hope to provide a 
		throwback to the younger days of the web when your identity and privacy
		was yours to keep.
	</p>
	<h2>
		<span>
			How Does CourierChat Work?
		</span>
	</h2>
	<p>
		CourierChat was written to support keeping your identity hidden as much
		as possible.
	</p>
	<p>
		This does not mean CourierChat is perfectly anonymous, however. 
	</p>
	<p>
		Any information you reveal about yourself will be shared with other
		active users in the room you join, and your IP address, which is
		tracked by the server during your session, can reveal your location to
		the administrator of the server (we do not share it willingly with
		third parties).
	</p>
	<p>
		CourierChat is a centralized chat service, which means your messages
		are sent to our server and then dispersed to other members of your chat
		room.
	</p>
	<p>
		Once these messages have been delivered to every participant, they are
		discarded. We act as a courier to only deliver your messages, hence our
		name. No tracking cookies are used, we do not target ads to our
		audience, and we do not sell or share your information.
	</p>
	<p>
		For more information, please visit our 
		<a href="https://github.com/xcjs/courierchat">GitHub project</a>!
	</p>
</article>