<article class="animated bounceInDown login">
	<h1 class="animated bounceInDown">
		<img src="/images/courierchat.svg" alt="CourierChat Logo">
		CourierChat
	</h1>
	<div class="form-container">
		<h1>
			Choose a name!
		</h1>
		<form class="animated bounceInDown">
			<p>
				<input type="textbox" ng-model="username">
			</p>
			<p>
				<button ng-click="login()">
					Say hello! &raquo;
				</button>
			</p>
			<p class="tcenter animated pulse" ng-if="error">
				{{error}}
			</p>
		</form>
	</div>
</article>
