.animated.slower {
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
}

.animated.faster {
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}

@-webkit-keyframes animNavHover {
  0% {
	-webkit-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform: rotate3d(0, 0, 1, 90deg);
	-ms-transform: rotate3d(0, 0, 1, 90deg);
	transform: rotate3d(0, 0, 1, 90deg);
	opacity: 0;
  }

  100% {
	-webkit-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	opacity: 1;
  }
}

@keyframes animNavHover {
  0% {
	-webkit-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform: rotate3d(0, 0, 1, 90deg);
	-ms-transform: rotate3d(0, 0, 1, 90deg);
	transform: rotate3d(0, 0, 1, 90deg);
	opacity: 0;
  }

  100% {
	-webkit-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	opacity: 1;
  }
}

header a:hover span.anim-nav-hover {
  -webkit-animation-name: animNavHover;
  animation-name: animNavHover;
}

header a:active span.anim-nav-hover {
  display: none;
}

article.login > h1 {
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

article.login form {
  -webkit-animation-delay: 25ms;
  animation-delay: 25ms;
}
