article {
  color: $color-darker;
  font-size: 1.5rem;
  margin: auto;
  max-width: 500px;
  padding: 1rem;

  > * {
	margin: 1rem;
  }

  > h1 {
	background-color: $color-primary;
	border: $color-primary .5rem solid;
	border-radius: $border-radius;
	box-shadow: $drop-shadow;
	color: $color-lightest;
	margin: 1rem 0 2rem 0;
	padding: 1rem;
	font-weight: 500;
  }

  > h1 {
	font-size: 2.5rem;
  }

  > h2 {
	font-size: 2rem;
	font-weight: 500;
	margin: 2rem 1rem;
  }
}
