article {
  color: $text-content;
  font-size: 1.5rem;
  margin: auto;
  max-width: 500px;
  padding: 1rem;

  > * {
	margin: 1em;
  }

  > h1,
  > h2 {
	background-color: $background-primary;
	border: $background-primary .5rem solid;
	border-radius: .5rem;
	box-shadow: $drop-shadow;
	color: $text-primary;
	font-weight: 500;
	margin: 1rem;
  }

  h1 {
	font-size: 2.5rem;
  }

  > h1:after  {
	margin-bottom: 1rem;
  }

  > h2 {
	font-size: 1.5rem;
  }

  > h1 > span,
  > h2 > span {
	background-color: rgba(255, 255, 255, .95);
	border-radius: .5rem;
	box-shadow: $drop-shadow;
	display: block;
	padding: .5rem;
  }
}
