form {
  h1 {
	color: $color-lightest;
	margin: 1rem;
	font-weight: 500;
  }

  input {
	border-radius: $border-radius;
  }

  button {
	background-color: $color-highlight;
	border-radius: $border-radius;
	color: $color-lightest;
	cursor: pointer;
	display: block;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 1rem;
	width: 100%;
  }

  button:hover {
	background-color: darken($color-highlight, 5%);
	box-shadow: $drop-shadow-inset;
	position: relative;
	top: 2px;
  }
}
