.header-container {
  display: table-cell;
  height: 100%;
  vertical-align: top;
}

header {
  background-color: $background-primary;
  display: block;
  height: 100%;
  min-width: 5rem;
  padding-top: 1rem;
  width: 3vw;
}
