* {
  border-width: 0;
  margin: 0;
  padding: 0;
}

.tcenter {
  text-align: center;
}

.tright {
  text-align: right;
}

.shadowed {
  box-shadow: $drop-shadow;
}

html, body {
  font-family: sans-serif;
  font-size: 11px;
  height: 100%;
}

body {
  border-collapse: collapse;
  display: table;
  width: 100%;
}

header {
  background-color: $background-primary;
  display: table-cell;
  height: 100%;
  min-width: 5rem;
  padding-top: 1rem;
  vertical-align: top;
  width: 3vw;
}

header a {
  cursor: pointer;
  display: block;
  margin-bottom: 1rem;
  position: relative;
}

header a > * {
  position: relative;
  z-index: 3;
}

header a span.anim-nav-hover,
header a:visited span.anim-nav-hover {
  background-color: $background-interactive;
  border-radius: 1000000px;
  color: $white;
  display: none;
  font-size: 2rem;
  height: 100%;
  left: 0;
  padding: 0 1rem 0 130%;
  position: absolute;
  text-decoration: none;
  top: 0;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 2;
}

header a:hover span.anim-nav-hover {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 3.5vh;
}

header a img {
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 1px;
  padding: 0;
}

main {
  display: table-cell;
  vertical-align: top;
}

main article {
  color: $text-content;
  font-size: 1.5rem;
  margin: auto;
  max-width: 500px;
  padding: 1rem;
}

main article > * {
  margin: 1em;
}

main article > h1, main article > h2 {
  background-color: $background-primary;
  border: $background-primary .5rem solid;
  border-radius: .5rem;
  box-shadow: $drop-shadow;
  color: $text-primary;
  margin: 1rem 0;
}

main article > h1 {
  font-size: 2.5rem;
}

main article > h1:after  {
  margin-bottom: 1rem;
}

main article > h2 {
  font-size: 1.5rem;
}

main article > h1 > span, main article > h2 > span {
  background-color: rgba(255, 255, 255, .95);
  border-radius: .5rem;
  box-shadow: $drop-shadow;
  display: block;
  padding: .5rem;
}

main article.about img.avatar {
  border-radius: 100%;
  display: inline-block;
  height: 150px;
  margin: 1rem;
  width: 150px;
}

main article.about .avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-container {
  background-color: $background-primary;
  border: $background-primary .5rem solid;
  border-radius: .5rem;
  box-shadow: $drop-shadow;
  margin: 0;
}

.form-container form {
  background-color: rgba(255, 255, 255, .95);
  border-radius: .5rem;
  box-shadow: $drop-shadow;
  display: block;
  padding: .5rem;
}

.form-container h1 {
  color: $white;
  margin: .5rem 0;
}

.form-container button {
  background-color: $background-interactive;
  box-shadow: $drop-shadow;
  color: $white;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  width: 100%;
}

.form-container button:hover {
  background-color: lighten($background-interactive, 5%);
  box-shadow: $drop-shadow;
  position: relative;
  top: 2px;
}

article.login > h1 {
  background-color: transparent;
  border-radius: 0;
  border-width: 0;
  box-shadow: none;
  color: $text-primary;
  font-size: 3rem;
}

article.login > h1 > img {
  height: 100%;
}

article.login input[type="textbox"] {
  background-color: $white;
  border: #DDD 1px solid;
  box-shadow: $drop-shadow;
  color: $text-primary;
  font-weight: bold;
  display: block;
  font-size: 3rem;
  height: 6rem;
  text-indent: 1rem;
  width: 100%;
}

article.login form > * {
  margin: 1rem;
}

article.login form > p {
  color: $text-content;
  font-weight: bold;
}

