.panel {
  background-color: $color-primary;
  border: $color-primary .5rem solid;
  border-radius: $border-radius;
  box-shadow: $drop-shadow;
  color: $color-lightest;
  margin: 0;
  padding: 1rem;

  > .panel-inner {
	background-color: rgba($color-lightest, .95);
	border-radius: $border-radius;
	box-shadow: $drop-shadow;
	color: $color-darker;
	padding: .5rem;
	margin: 1rem 0;
  }
}
