/*
	Color Palette:
    https://color.adobe.com/create/color-wheel/?base=2&rule=Complementary&selected=1&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.7,0.34025188051640154,0.22646649832612348,1,0.6177548712685628,0.4968538694078385,1,0.5417838748740231,0.3968538694078385,0.13779770858548698,0.7,0.5590839592260689,0.3968538694078385,1,0.8488213832830178&swatchOrder=0,1,2,3,4
*/

$white: rgb(255, 255, 255);

$background-primary: rgb(35, 178, 143);
$background-interactive: rgb(255, 138, 101);

$text-primary: rgb(255, 138, 101);
$text-content: rgb(51, 51, 51);

$drop-shadow:  0px 4px 5px 0px rgba(0, 0, 0, 0.5);
