/*
    https://color.adobe.com/create/color-wheel/?base=2&rule=Complementary&selected=1&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.7,0.34025188051640154,0.22646649832612348,1,0.6177548712685628,0.4968538694078385,1,0.5417838748740231,0.3968538694078385,0.13779770858548698,0.7,0.5590839592260689,0.3968538694078385,1,0.8488213832830178&swatchOrder=0,1,2,3,4
*/

* {
    border-width: 0;
    margin: 0;
    padding: 0;
}

.tcenter {
    text-align: center;
}

.tright {
    text-align: right;
}

.shadowed {
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 4px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

html, body {
    font-size: 11px;
    height: 100%;
}

body {
    border-collapse: collapse;
    display: table;
    width: 100%;
}

header {
    background-color: #23B28F;
    display: table-cell;
    height: 100%;
    min-width: 5em;
    padding-top: 1em;
    vertical-align: top;
    width: 3vw;
}

header a {
    cursor: pointer;
    display: block;
    margin-bottom: 1rem;
    position: relative;
}

header a > * {
    position: relative;
    z-index: 3;
}

header a span.anim-nav-hover, header a:visited span.anim-nav-hover {
    background-color: #FF8A65;
    border-radius: 1000000px;
    color: #fff;
    display: none;
    font-size: 3.5vh;
    height: 100%;
    left: 0;
    padding: 0 1rem 0 130%;
    position: absolute;
    text-decoration: none;
    top: 0;
    vertical-align: middle;
    white-space: nowrap;
    z-index: 2;
}

header a:hover span.anim-nav-hover {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 3.5vh;
}

header a img {
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 1px;
    padding: 0;
}

main {
    display: table-cell;
    vertical-align: top;
}

main article {
    color: #333;
    font-size: 1.5rem;
    margin: auto;
    max-width: 500px;
    padding: 1rem;
}

main article > * {
    margin: 1em;
}

main article > h1, main article > h2 {
    background-color: #23B28F;
    border: #23B28F .5rem solid;
    border-radius: .5rem;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    color: #23B28F;
    margin: 1rem 0;
}

main article > h1 {
    font-size: 2.5rem;
}

main article > h1:after,  {
    margin-bottom: 1rem;
}

main article > h2 {
    font-size: 1.5rem;
}

main article > h1 > span, main article > h2 > span {
    background-color: rgba(255, 255, 255, .95);
    border-radius: .5rem;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    display: block;
    padding: .5rem;
}

main article.about img.avatar {
    border-radius: 100%;
    display: inline-block;
    height: 150px;
    margin: 1rem;
    width: 150px;
}

main article.about .avatar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-container {
    background-color: #23B28F;
    border: #23B28F .5rem solid;
    border-radius: .5rem;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    margin: 0;
}

.form-container form {
    background-color: rgba(255, 255, 255, .95);
    border-radius: .5rem;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    display: block;
    padding: .5rem;
}

.form-container h1 {
    color: #FFF;
    margin: .5rem 0;
}

.form-container button {
    background-color: #FF8A65;
    webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    width: 100%;
}

.form-container button:hover {
    background-color: #FF9E7F;
    webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 2px;
}

article.login > h1 {
    background-color: transparent;
    border-radius: 0;
    border-width: 0;
    box-shadow: none;
    color: #FF9E7F;
    font-size: 3rem;
}

article.login > h1 > img {
    height: 100%;
}

article.login input[type="textbox"] {
    background-color: #FFF;
    border: #DDD 1px solid;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    color: #FF8A65;
    font-weight: bold;
    display: block;
    font-size: 3rem;
    height: 6rem;
    text-indent: 1rem;
    width: 100%;
}

article.login form > * {
    margin: 1rem;
}

article.login form > p {
	color: #5A5A5A;
	font-weight: bold;
}

