* {
    border-width: 0;
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 11px;
    height: 100%;
}

body {
    border-collapse: collapse;
    display: table;
    width: 100%;
}

header {
    background-color: #23B28F;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 4px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 4px 5px 0px rgba(0, 0, 0, 0.5);
    display: table-cell;
    height: 100%;
    min-width: 5em;
    width: 3vw;
}

header a:link {
    display: block;
    margin-bottom: 1rem;
    position: relative;
}

header a:link > * {
    position: relative;
    z-index: 3;
}

header a:link span.anim-nav-hover, header a:visited span.anim-nav-hover {
    background-color: #FF8A65;
    border-radius: 1000000px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 4px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 4px 5px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    display: none;
    font-size: 3.5vh;
    height: 100%;
    left: 0;
    padding: 0 1em 0 130%;
    position: absolute;
    text-decoration: none;
    top: 0;
    vertical-align: middle;
    white-space: nowrap;
    z-index: 2;
}

header a:link span.anim-nav-hover .vertCenter {
    display: block;
    margin-top: -25%;
    position: relative;
    top: 50%;
}

header a:link:hover span.anim-nav-hover {
    -webkit-animation-duration: 10ms
    animation-duration: 10ms;
    -webkit-animation-name: animNavHover;
    animation-name: animNavHover;
    display: block;
}

header a:link img {
    width: 100%;
}

main {
    display: table-cell;
}

main h1 {
    color: #FF8A65;    
    padding: 1em;
}
