article.about img.avatar {
  border-radius: 100%;
  display: inline-block;
  height: 150px;
  margin: 1rem;
  width: 150px;
}

article.about .avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
