article.login {
  > h1 {
	background-color: transparent;
	border-radius: 0;
	border-width: 0;
	box-shadow: none;
	color: $color-highlight;
	font-size: 4rem;
	font-weight: 500;
	margin: 2rem 0;
	padding: 0;
  }

  > h1 > img {
	height: 4rem;
	vertical-align: top;
  }

  input[type="textbox"] {
	background-color: $color-lightest;
	border: $color-neutral 1px solid;
	color: $color-highlight;
	font-weight: 500;
	display: block;
	font-size: 2rem;
	height: 4rem;
	text-indent: 1rem;
	width: 100%;
  }

  form > * {
	margin: 1rem;
  }

  form > p {
	font-weight: 500;
  }
}
